
@{
    ViewBag.Title = "Student managements system";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center text-white welcome-message">WELCOME TO BEST ACADEMY</div>
<div class="banner-top">
    <video loop autoplay muted>
        <source src="~/home_uk.mp4">
    </video>
</div>
<div class="row mt-2">
    <div class="col-6">
        <a class="btn btn-success btn-lg btn-block" href="~/Students/List">I`m Student</a>
    </div>
    <div class="col-6">
            <a class="btn btn-success btn-lg btn-block" href="~/Identity/Account/Login">I`m Teacher</a>
        </div>
    
</div>
